.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background: rgba(255, 215, 200, 0.9);
    display: none;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        display: block;
        list-style: none outside;
        padding: 1em 0;
        animation: navitemin 0.3s ease-out 1 forwards;
        opacity: 0;
        transform: translate(-3rem, -3rem);
    }

    a {
        display: block;
        padding: 1.5em 2.5em;
        font-size: 1.5em;
        background: rgb(253, 165, 133);
        border-radius: 2em;
        text-decoration: none;
        color: #333;
        font-weight: bold;
        box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.2);

        &::before {
            margin-right: 1em;
        }
    }

    @for $i from 1 through 6 {
        li:nth-child(#{$i}) {
            animation-delay: $i * 0.15s;
        }
    }
}

#nav-main-toggle {
    display: none;
}

.nav-toggle {
    position: fixed;
    top: var(--spacing-site, 2rem);
    left: var(--spacing-site, 2rem);
    z-index: 1000;
    font-size: 2rem;
    padding: 0 0.5rem;
    transform-origin: center;
    transform: rotate(0deg) scale(0);
    animation: spin 0.3s 1 ease-in-out forwards;
    // animation: zoom 0.5s 1 ease-in-out forwards;

    & span {
        display: none;
    }

    &::before {
        // margin-right: 1rem;
        color: coral;
        content: '\f009';
    }

    
}

#nav-toggle-right {
    left: inherit;
    right: var(--spacing-site, 2rem);
}

#nav-main-toggle:checked+.site-header {
    .navigation {
        display: flex;
        z-index: 1000;
    }

    .nav-toggle::before {
        color: #333;
        content: '\f00d';

    }

    .nav-toggle {
        z-index: 1010;
        animation: jump 0.3s 1 ease-in-out forwards;
    }
}